# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
dist/

# Configuration and Secrets
config/.env
credentials/client_secrets.json
credentials/token.pickle

# Project Outputs
downloads/
cuts/
temp_migration/
*.mp3
*.jpg
*.png
*.jpeg

# OS
.DS_Store
Thumbs.db
